$logo-height: 5rem;

.root {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.image.image {
  transition: none;
}

.lightImage {
  display: flex;

  @media (prefers-color-scheme: dark) {
    display: none;
  }
}

.darkImage {
  display: none;

  @media (prefers-color-scheme: dark) {
    display: flex;
  }
}

.showTitle .titleText {
  display: block;
  margin-left: 1rem;
}

h1.showTitle .titleText {
  margin-left: 2rem;
  font-size: 3.5rem;
  line-height: 4rem;
}

h2.showTitle .titleText {
  font-size: 2.5rem;
  line-height: 3rem;
}
