.root {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-background-main);
  color: var(--color-text-default);
}

.inner {
  max-width: 88rem;
  margin: 0 auto;
  padding: 5rem 2rem;
}
