@import '../../styles/variables';

.cards {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 3rem;

  @media (min-width: $media-mobile) {
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  }
}

.card {
  height: 100%;
  padding: 3rem 2rem;
  background: var(--color-base-2);

  p {
    text-align: left;
  }
}

.link {
  position: relative;

  &:hover {
    color: var(--color-add-100);
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 4px;
      background-color: var(--color-prime);
    }
  }

  &,
  &:visited {
    color: var(--color-text-default);
  }
}
